@font-face
    font-family: '3dumbregular'
    src: url('../../assets/3Dumb-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
        font-family: 'alpha'
        src: url('../../assets/alpha_echo-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

$my-color: #1E679A

input
    font-size: medium
    width: 18rem

p
    font-family: 'alpha'
    color: red
    font-size: x-small

label
    font-family: 'alpha'
    color: black


p.slogan
    color: black
    font-family: '3dumbregular'
    font-size: x-large
    font-weight: bolder

div.main-container
    background-image: url("https://cdn.pixabay.com/photo/2017/09/25/18/56/social-media-2786261_1280.jpg")
    background-size: 100%
    background-position: center top
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 10rem

div.input-register
    margin: 5px

div.form-container
    box-shadow: rgba(99, 99, 99, 0.2) 0.5px 12px 12px 0.5px
    display: flex
    text-align: left
    background-color: #f8f8f8e1
    border-radius: 5%
    padding: 1%
    margin-top: 30px
    margin-right: 10px

div.inspire
    padding-left: 10%
    text-align: center
    img 
        border-radius: 10%

button
    margin: 2%
    cursor: pointer
    background-color: $my-color
    font-family: 'alpha'
    color: white
    font-size: large
    border-color: #9faa9f
    margin: 3px
    border-radius: 12px

button:disabled
    cursor: no-drop
    background-color: $my-color
    font-family: 'alpha'
    color: grey
    font-size: large
    border-color: #9faa9f
    margin: 3px
    border-radius: 12px
