@font-face
    font-family: '3dumbregular'
    src: url('../assets/3Dumb-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
        font-family: 'alpha'
        src: url('../assets/alpha_echo-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

p
    font-family: 'alpha'
    color: red
    font-size: x-small

label
    font-family: 'alpha'
    color: black


p.slogan
    color: black
    font-family: '3dumbregular'
    font-size: x-large
    font-weight: bolder

div.main-container
    background-image: url("https://cdn.pixabay.com/photo/2017/09/25/18/56/social-media-2786261_1280.jpg")
    background-size: 100%
    background-position: center top
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 30rem

div.input-register
    margin: 5px

div.form-container
    box-shadow: rgba(99, 99, 99, 0.2) 0.5px 12px 12px 0.5px
    display: flex
    text-align: left
    background-color: white
    border-radius: 5%
    padding: 1%
    margin-top: 30px
    margin-right: 10px

div.inspire
    margin-right: 0%
    padding-left: 25%

button
    margin: 2%
    cursor: pointer

button:disabled
    cursor: no-drop
