<div class="footer">
  <h3>👩👩‍🦰👨‍🦱👨‍🦳👲🎅    Profiler App    🎅👲👨‍🦳👨‍🦱👩‍🦰👩</h3>
  <p>Fictional page 2022 for educational proposes</p>
  <p>Brougth to you by Argentina Programa 🥼🥽</p>
  <div>
    <button (click)="toTop()">Up 🐱‍🚀</button>
  </div>

  <div>
    <a
      href="https://www.linkedin.com/in/guillermo-luis-martos-7a01b6156/"
      target="_blank"
      >Contact me! 🤳
    </a>
  </div>
  <div>
    <a href="https://github.com/GuillermoMartos" target="_blank"
      >Visit me 🛸
    </a>
  </div>
</div>
