@font-face
    font-family: '3dumbregular'
    src: url('../../assets/3Dumb-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
        font-family: 'alpha'
        src: url('../../assets/alpha_echo-webfont.woff') format('woff')
        font-weight: normal
        font-style: normal

button
    border-radius: 10px
    cursor: pointer
    font-size: 17px

div.footer
    left: 0
    bottom: 0
    width: 100%
    background: rgb(45,116,129)
    background: linear-gradient(205deg, rgba(45,116,129,1) 0%, rgba(26,63,70,1) 19%, rgba(63,63,116,1) 86%, rgba(46,121,109,0.8552463221616772) 98%)
    color: white
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
    text-align: center
    text-decoration: none
    font-size: larger

a
    color: white
    text-decoration: none
    font-family: 'alpha'
    font-weight: 700

a:hover 
    color: yellow

a:active
    text-decoration: none