.parent-div{
    border-style: solid;
    border-color: aqua;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    max-width: 89%;
    min-width: 20%;
    overflow-wrap: break-word;
}

.first-div{
    border-style: solid;
    border-color: pink;
    margin: 0 auto;
    display:flex;
    background-color:rgba(206, 101, 101, 0.555)
}
    
.second-div{
    background-color:rgba(115, 116, 58, 0.555)
}