
.parent-div{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    max-width: 80%;
    flex-shrink: 3;
}

.base-div{
    align-self: center;
    font-size: large;
    justify-self: center;
}

.info-base{
    margin-bottom: 0.6em;
}

.first-div{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}


img:hover{
    cursor: pointer;
    background-color: rgba(121, 43, 194, 0.63);
}

img{
    margin: 1em;
    border-radius: 50%;
    box-shadow: rgba(37, 37, 41, 0.815) 0px 7px 29px 0px;
}

.change_img {
    cursor: pointer;
    margin:1em;
    opacity: 30%;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(98, 53, 141, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 0.3em;
    color: var(--glow-color);
    font-size: 0.8em;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
.change_img:hover {
    opacity: 70;
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
.change_img:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

h1{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


h1>span{
    background-color: rgba(240, 248, 255, 0.568);
    border-radius: 1em;
    padding: 0em 0.5em
}

.photo-viewer{
    align-self: center;
}

.no-log{
    min-height: 100%;
}

input{
    font-size: medium;
    height: 2em;
    border-style: none;
    border-bottom-style: groove;
}

input.ng-invalid {
    background-color:rgba(252, 158, 174, 0.89);
}
input.ng-valid {
    background-color:lightgreen;
}

textarea.ng-invalid{
    background-color:rgba(252, 158, 174, 0.89);
    color: black
}