<div class="no-log" *ngIf="!user_logged; else other_content">

    <app-path-error></app-path-error>
</div>

<ng-template #other_content class="parent-portfolio">
    <div class="banner">
        <input type="file" id="BtnBrowseHidden" name="files" style="display: none;" />
        <label class="change_img" for="BtnBrowseHidden" id="LblBrowse">
            change banner
        </label>

        <div>
            <h1> <span>{{user_logged.name}}</span></h1>
            <h1 *ngIf="user_logged.position"><span>Position: {{user_logged.position}}</span></h1>
        </div>
        <img *ngIf="user_logged.img" title="{{user_logged.name}}.img" src={{user_logged.img}} alt="user profile"
            width="100px" height="100px" />
    </div>

    <div class="first-div">
        <div class="base-div">
            <button style="font-size: 1em;" *ngIf="!user_edit; else btnclose" class="btn-portfolio" (click)="edit()">Edit Profile
                🎨</button>
            <ng-template #btnclose>
                <button class="btn-portfolio" style="font-size: 1em;" (click)="close()">Cerrar ❌</button>
            </ng-template>
            <div class="edit-portfolio" *ngIf="user_edit">
                <form class="form" [formGroup]="portfolioForm" (submit)="edit()">
                    <label>
                        <h4>Name(*):</h4>
                    </label>
                    <input class="input" name="name" id="name" autoComplete="off" formControlName="name" />
                    <label>
                        <h4>E-mail(*):</h4>
                    </label>

                    <input class="input" type="email" name="email" id="email" autoComplete="off"
                        formControlName="email" />
                    <label>
                        <h4>Position:</h4>
                    </label>

                    <input class="input" name="position" id="position" autoComplete="off"
                        formControlName="position" />

                    <label>
                        <h4>Phone:</h4>
                    </label>

                    <input class="input" name="phone" id="phone" autoComplete="off" formControlName="phone" />
                    <label>
                        <h4>About:</h4>
                    </label>

                    <input class="input" name="about" id="about" autoComplete="off" formControlName="about" />
                    <label>
                        <h4>Adress:</h4>
                    </label>

                    <input class="input" name="adress" id="adress" autoComplete="off" formControlName="adress" />
                    <button class="btn-portfolio" type="submit">
                        <h4>Edit!</h4>
                    </button>
                </form>
            </div>

            <div class="info-base">
                <img *ngIf="user_logged.img" src={{user_logged.img}} alt="user profile" width="100px"
                    height="100px" />
                <div class="child-info-base">
                        <h3 *ngIf="user_logged.about">About: {{user_logged.about}}</h3>
                        <h1 *ngIf="user_logged.phone">Contact: {{user_logged.phone}}</h1>
                        <h4 style="color:rgb(151, 135, 196)">{{user_logged.email}}</h4>
                        <h4 *ngIf="user_logged.adress">Adress: {{user_logged.adress}}</h4>
                    </div>
                </div>
            
        </div>
    <div class="parent-div">
            <app-education-portfolio></app-education-portfolio>
            <app-job-portfolio></app-job-portfolio>
            <app-skill-portfolio></app-skill-portfolio>
            <app-project-portfolio></app-project-portfolio>
        </div>
    </div>
</ng-template>